<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Of books</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="topnav" id="myTopnav">
        <a href="">All</a>
        <a href="">Reading</a>
        <a href="">Read</a>
        <a href="">Unread</a>
        <a href="javascript:void(0)" class="icon" onclick="myaFunction()"></a>
        <i class="fa fa-bars"></i>
    </div>
    
    <section class="books">
      <% for(book of books){%>
        <div class="card">
          <!-- variable = list of dictionaries from db -->
          <!-- loop through the list, get single element in dict item -->

          <img src="/images/outofcomfort.jpg" alt="getting out of comfort" style="width: 100%">
          <h2><%= book.Title %></h2>
          <p class="author"> Author : <%= book.Author %></p>
          <p class="status"> Status : <%= book.status %></p>

          <form action="#" method="get">
            
            <select name="status" id="#">
              <option value="#"></option>
              <option value="read">read</option>
              <option value="unread">unread</option>
              <option value="queued">queued</option>
            </select>

            <input type="submit" value="Update">
          </form>

          <button type="button" value="<%= book.id %>">Delete</button>
        </div>
      <%} %>

    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>